*/target/

### IntelliJ IDEA ###
**/.idea
*/*.iws
*/*.iml
*/*.ipr
.idea

Assignment2/src/main/resources/ACL2020/*.pdf
/Assignment2/src/main/resources/ACL2020/*.pdf

### pycharm ###
**/venv/
venv/
__pycache__/